<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Brand</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Trang chủ", admin_home_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Sản phẩm", admin_products_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Liên hệ", admin_about_path %></li>
        </ul>
      </div>
      <div class="nav-collapse pull-right">
        <ul class="nav">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= current_admin.name %>
                  <i class="caret"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Thông tin cá nhân</a></li>
                <li><%= link_to "Đổi mật khẩu", "", method: "get" %></li>
                <li class="divider"></li>
                <li><%= link_to "Đắng xuất", destroy_admin_session_path, method: "delete" %></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>