<!DOCTYPE html>
<html>
<head>
  <title>Product-sale</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/anonymous/shim' %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
    <%= render 'layouts/anonymous/header' %>
    </div>
    <div id="content">
      <div class="span3">
        <div class="row">
          <div class="span2 bs-docs-sidebar">
          <% if params[:controller].to_s.eql?("anonymous/products") %>
            <ul class="nav nav-list bs-docs-sidenav affix-top">
              <li class="center"><a href="#">Menu</a></li>
              <% (1..10).each do |i| %>
                <li><%= link_to "Type #{i}", anonymous_products_path("q[name_cont]" => i) %></li>
              <% end %>
            </ul>
          <% end %>
          </div>
        </div>
      </div>
      <div class="span11">
        <%flash.each do |key, value| %>
          <div class="alert alert-<%= key%>"><%= value%></div>
        <%end%>
        <%= yield %>
      </div> 
    </div>
    <div id="foooter">
      <%= render 'layouts/anonymous/footer' %>
    </div>
  </div>
</body>
</html>