<!DOCTYPE html>
<html>
<head>
  <title>Product-sale</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/anonymous/shim' %>
</head>
<body>
  <div id="main_container">  
    <%= render 'layouts/anonymous/header' %>
    <div id="main_content">
      <%= render "layouts/anonymous/menu_tab" %>
      <div class="crumb_navigation"> Navigation: <span class="current">Home</span> </div>
      <%= render "layouts/anonymous/left" %>
      <div class="center_content">
        <%flash.each do |key, value| %>
          <div class="alert alert-<%= key%>"><%= value%></div>
        <%end%>
        <%= yield %>
      </div> 
    </div>
  </div>
</body>
</html>